/* @font-face */
@font-face {
    font-family: "gellix-regular";
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/Gellix-Regular.eot?');
    src: local("Gellix-Regular"), url("../fonts/Gellix-Regular.woff") format("woff"), url("../fonts/Gellix-Regular.ttf") format("truetype"), url("../fonts/Gellix-Regular.svg#Gellix-Regular") format("svg");
}

@font-face {
    font-family: "gellix-bold";
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/Gellix-Bold.eot?');
    src: local("Gellix-Bold"), url("../fonts/Gellix-Bold.woff") format("woff"), url("../fonts/Gellix-Bold.ttf") format("truetype"), url("../fonts/Gellix-Bold.svg#Gellix-Bold") format("svg");
}

/***********************************/
*,
body {
    font-family: "gellix-regular", Arial, Tahoma;
}

body {
    background: #FFF;
    padding: 0;
    margin: 0;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

p {
    color: #71018B
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "gellix-bold", Arial, Tahoma;
}

button {
    font-family: "gellix-bold", Arial, Tahoma;
}

a:hover,
button:hover {
    transition: all .3s ease 0s;
    text-decoration: none;
}

.btn-white {
    background: #FFF;
    color: #CE00FF;
}

.btn-white-outline {
    border: 2px solid #FFF;
    color: #FFF;
}

.btn-white-outline:hover {
    color: #FFF;
    text-shadow: 0 0 3px #444
}

p{
    font-size: 15px;
}

.btn {
    border-radius: 30px;
    line-height: 2;
}

.text-theme {
    color: #CE00FF;
    letter-spacing: .05rem;
}

.request{
    background-color: #FFFFFF;
    color: #CE00FF;
}

.btn-primary {
    border-color: #CE00FF;
    background: #CE00FF;
}

h4 {
    color: #71018B;
}

.header-height {
    margin-top: 4rem;
}

/************************************************/
/* header .navbar {
    background: linear-gradient(to right, #01BFD9,#CE00FF);
} */
.wrapper-header {
    display: flex;
    width: 100%;
    /* flex-direction: row; */
    background: url(../images/bg.jpg);
    background-size: cover;
    /* background-image: linear-gradient(to right, #01BFD9 , #CE00FF); */
}

.wrapper-header .left {
    width: 50%;
    padding: 4rem;
    margin-top: 5%;
}

.wrapper-header .left>p {
    line-height: 1.8rem;
    margin: 10px 0;
    letter-spacing: .12rem;
    padding: 0;
    font-size: 16px;
}
.wrapper-header ul li small{
    font-size: 10px;
}
.wrapper-header .left>h2 {
    margin: 0;
    padding: 0;
    line-height: 2.7rem;
    font-size: 1.6rem;
    letter-spacing: .1rem;
}

.wrapper-header .right {
    width: 50%;
    margin-top: 5%;
}
/* .right img{
    max-height: 600px;
    max-width: 100%;
} */
@media screen and (max-width:800px){
    .right img{
        width: 100%;
        padding-top:2rem ;
        height: 200px;
    }
    .wrapper-header .left>h2 {
        line-height: 1.6rem;
        letter-spacing: 0.05rem;
        font-size: 1.3rem;
    }
}
.btnHead li a{
    letter-spacing: 0.1rem;
}

.registration{
    background-image: url("../images/bgg.png") !important;
    background-size: cover;
    padding: 0.33rem;
}

.registration img{
    height: 30px;
}

.login .form{
    border: 1px solid #71018B;
    box-shadow: 0 5px 10px 0 rgba(113,1,139,0.2);
}

@media screen and(max-width:650px){
    .loginRow{
        margin-top: 5px !important;
    }
}

.form p small{
    font-size: 12px;
}
@media(max-width:900px) {
    .wrapper-header {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: flex-end;
    }

    .wrapper-header .left {
        width: 70%;
        padding: 1rem;
        margin-top: 0;
    }

    .wrapper-header .right {
        margin-top: 0;
        padding: 1rem 0 0 0;
    }
}

#features,
#resources {
    background: #FBEDFF
}
.resourses h4{
    line-height: 2rem;
    letter-spacing: .1rem;
}
.resourses p{
    letter-spacing: .1rem;
    font-size: 18px;
    line-height: 2rem;
}
.video {
    position: relative;
}

.video>button {
    position: absolute;
    top: 40%;
    left: 45%;
}
@media screen and (max-width:750px){
    .video>button {
        position: absolute;
        top: 20%;
        left: 33%;
    }
}

.readon {
    color: #CE00FF;
    text-decoration: underline;
}

.newsletter input,.newsletter .btn {
    height: 4rem;
    border:2px solid #CE00FF;
}
.newsletter .form-control{
    width: 30%;
}
.menuText h2{
    font-size: 32px;
    letter-spacing: 0.1rem;
}
.copyRight{
    color: rgb(187, 150, 150) !important;
}
.menuText p{
    font-size: 22px;
    letter-spacing: .1rem;
}
.newsletter input::placeholder {
    color: #CE00FF;
    font-size: 1.1rem;
    padding-left: 1rem;
    letter-spacing: .1rem;
}
.btnSign{
    font-size: 1.2rem;
    /* border-radius: 12px; */
}
.newsletter span {}

.newsletter button {
    border-radius: 0;
}

footer {
    background: #71018B;
}
.inner h3{
    font-size: 1.6rem;
    color: #71018B;
}
.inner img{
    margin-right: 1rem;
}
.inner p{
    padding-top: 0.6rem;
    /* letter-spacing: .11rem; */
    line-height: 2rem;
    font-size: 1.3rem;
}
.inner-footer h6{
    font-size: 19px;
}
.foot p{
    font-size: 1.2rem;
}
.foot p a{
    font-size: 1rem;
}
.inner-footer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.inner-footer li a{
    font-size: 16px;
    line-height: 2.4rem;
}
.foot p,.foot p a{
    color: white !important;
}
.foot p a:hover{
    text-decoration: underline;
}
.inner-footer li a:hover{
    text-decoration: underline;
}
.copyrights {
    color: rgba(255, 255, 255, .4);
}

/* .footer-col>h6 {
    color: #FFF
}

.footer-col a {
    color: #FFF
} */
.txtEdit{
    line-height: 3rem;
}
.txtBlog{
    font-size: 1.2rem;
    line-height: 2rem;
    letter-spacing: .1rem;
}
@media screen and (max-width:650){
    .txtEdit{
        width: 100%;
        line-height: 0.5rem;
    }
} 
.digitalText{
    font-size: 1.3rem;
    line-height: 2rem;
    letter-spacing: .1rem;
}
.txtVideo{
    font-size: 24px;
    letter-spacing: .1rem;
}
.separator {
    position: relative;
}

.separator span {
    margin-top: -15px;
    display: block;
    background: #FFF;
    width: 40px;
    height: 20px;
    margin-right: auto;
    margin-left: auto;
}

.separator:before {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: rgb(173, 173, 173);
}
.getQoteForm .form-control{
    background-color: rgba(233,233,233,0.5)
}
.form .form-control {
    height: 54px;
    border: 2px solid #999999;
    border-radius: 0;
}
.textArea .form-control{
    height: 10rem;
}

.textGetQote{
    font-size: 1.7rem;
}

.btnSend{
    width: 15rem;
    background-color: #CE00FF;
    justify-content: center;
    color: white;
}

.ptext {
    color: #71018B;
    line-height: 2rem;
}
.textAbout{
    font-size: 1rem;
    line-height: 2rem;
    letter-spacing: .1rem;
    /* height: 3.5rem; */
}
@media screen and (min-width:1450px){
    .wrapper-header .left>h2 ,.section-wrapper h4{
        margin: 0;
        padding: 0;
        line-height: 2.7rem;
        font-size: 2.3rem;
        letter-spacing: .1rem;
    }
    .wrapper-header .left>p ,.digitalText{
        margin: 0;
        padding: 0;
        line-height: 2rem;
        font-size: 1.6rem;
        margin-top: 4rem;
        letter-spacing: .1rem;
        padding-bottom: 2rem;
    }
}
.btnTry{
    border:2px solid #CE00FF;
    /* border: 2px solid white; */
}
.switcher {
    width: 300px;
    margin: auto;
    position: relative;
}

.switcher ul {
    border: 2px solid #CE00FF;
    border-radius: 33px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    line-height: 38px;
}

.switcher ul li:first-child {}

.switcher ul li {
    width: 50%;
    text-align: center;
    margin: 5px;
    border-radius: 45px;
}

.switcher ul li.active {
    background: #CE00FF
}

.switcher ul li a {
    color: #999999;
}

.switcher ul li.active a {
    color: #FFF;
}

.switcher>small {}

.switcher .notice {
    color: #CE00FF;
    font-size: 12px;
    position: absolute;
    top: -25px;
    right: -42px;
}

.switcher .switch-border {
    width: 24px;
    height: 25px;
    display: block;
    margin-left: 10px;
    border-radius: 10px;
    border: 1px solid #CE00FF;
    border-top-width: 0;
    border-left-width: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
}

.pricing-grid {}

.pricing-grid .grid {
    border: 2px solid #CE00FF;
    border-right-width: 0;
    text-align: center;
    color: #CE00FF;
    box-shadow: 0 0 2px rgba(68, 68, 68, .5);
}

.grid.last-child {
    border-right-width: 2px;

}

.pricing-grid .grid h2 {
    text-align: center;
    color: #CE00FF;
    margin: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 49px;
}

.pricing-grid .grid h3 {}

.pricing-grid .grid h3 span {
    font-weight: bold;
    font-size: 45px;
    font-family: "gellix-bold", Arial, Tahoma;
}

.pricing-grid .grid ul {
    line-height: 45px;
}

.pricing-grid .grid li {
    color: #999999;
}

.pricing-grid .grid li button {
    text-transform: uppercase;
    letter-spacing: 1px
}

.v-hidden {
    opacity: 0;
}

.pricing-grid .grid li.included {
    color: #CE00FF;
}

.best-plan {
    background: linear-gradient(to bottom, #CE00FF, #01BFD9);
    padding: 54px 0;
    border: 0 !important;
    position: relative;
}

.best-plan h2 {
    color: #FFF !important
}

.best-plan h3 {
    color: #FFF !important
}

.best-plan ul li {
    color: rgba(255, 255, 255, .6) !important
}

.best-plan ul li.included {
    color: #FFF !important
}

.best-plan ul li small {
    color: rgba(255, 255, 255, .6) !important
}

.best-plan-badge {
    position: absolute;
    background-image: url('../images/popular-badge.png?1');
    top: 0;
    right: 0;
    width: 119px;
    height: 112px;
}

.best-plan-badge span {
    -ms-transform: rotate(45deg);
    /* IE 9 */
    -webkit-transform: rotate(45deg);
    /* Safari 3-8 */
    transform: rotate(45deg);
    display: block;
    line-height: 3;
    margin: 18px -30px 0 0px;
}

.shitty-box {
    width: 90%;
    margin: auto;
    background: #71018B;
}

.shitty-box>div:first-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #FFF;
    border-top-right-radius: 4rem;
    border-bottom-right-radius: 5rem;
}

.shitty-box .custom-bg {
    background: #71018B;
}

.shitty-box .custom-bg ul {
    color: #FFF;
    display: flex;
    flex-wrap: wrap;
    padding: 45px;
    line-height: 51px;
}

.shitty-box .custom-bg ul li {
    flex: 0 50%;
}

.capitalize {
    color: #71018B;
    font-size: 8rem;
    font-weight: bold;
    line-height: 122px;
}

.terms-list {}

.terms-list li {
    line-height: 33px;
}

.terms-list li a {
    color: #71018B;
    font-size: 1.8rem;
    line-height: 4rem;
    letter-spacing: .1rem;
    text-decoration: underline;
}
/*******************************************/
.custom-header{
    
}
.custom-header .navbar{
    background: #FFF;
}
.custom-header .navbar-nav a{
    color: #CE00FF !important
}
.navbar-nav li a{
    color: #FFF !important;
}
.custom-header .navbar li.active a {
    font-weight: bold !important;
    border-bottom: 3px solid #CE00FF;
}
/* ================================================================ */
/* width */
::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 0px;
}
   
  /* Handle */
::-webkit-scrollbar-thumb {
    background: #CE00FF; 
    border-radius: 0px;
}
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #71018B; 
}
/* ============================== Blog ============================== */
.blogs{
    border: 2px solid #CE00FF;
    padding: 1rem;
    border-radius: 5px;
}
.textGide{
    font-size: 1.1rem;
    color: #CE00FF;
    letter-spacing: 0.1rem;
}