.item-display-image {
    min-height: 250px !important;
}

.item-display-image img {
    height: 350px !important;
    width: 100% !important;
}

.item-display-info {
    padding: 0;
    margin-left: -10px;
}

.item-display-info-description {
    margin-top: 50px;
    margin-left: 10px;
}

.item-display-info-price {
    margin-top: 50px;
    margin-left: 10px;
}
.item-display-info-price div {
    margin-left: -10px;
}

.item-display-info-sidedishes {
    margin-top: 50px;
    margin-left: 10px;
}

.item-display-info-sidedishes img {
    border-radius: 50%;
    height: 85px;
    width: 100px;
}

.item-display-info-sidedishes-single {
    margin-left: -10px;
    margin-top: 20px;
}

.item-display-info-sidedishes-single-price {
    color: grey;
    font-size: 14px;
    font-family: times;
}



hr.style-menu {
    overflow: visible; /* For IE */
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
}
hr.style-menu:after {
    content: "OR";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: #f5f6f7;
}


hr.with-items {
    overflow: visible; /* For IE */
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
}
hr.with-items:after {
    content: "ITEMS";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: #f5f6f7;
}

.cat-item-block {
    background: #FFF;
    padding: 0;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
    margin-bottom: 20px;
    cursor: pointer;
}
