<template>
   <div class="header col-md-12" :style="{ backgroundImage: 'url(' + link + '/images/preview-header-bg.png)' }">
   		<div class="col-md-4 float-left header-left">
            <img :src=" link + 'images/table-icon.svg'" alt="">
            <span class="header-font">TABLE #4</span>
            <img :src=" link + 'images/icon.svg'" alt="">
            <span class="header-font">ABOUT</span>
        </div>
   		<div class="col-md-4 float-left">
            <img :src="logo" alt="">
        </div>
   		<div class="col-md-4 float-right header-right">
            <img :src=" link + 'images/feedback-icon.png' " alt="">
            <span class="header-font">FEEDBACK</span>
            <img :src=" link + 'images/cart-icon.png'" alt="">
            <span class="header-font">2 ITEMS</span>
        </div>
   </div>
</template>
<script>
export default {
  props:['headerbg','link'],
  data () {
    return {
      message: 'Hoera!!!!',
      logo: this.link + 'images/tablet-logo.png',
    };
  }
};
</script>

<style scoped>
	.header {
		padding-top: 25px !important;
		height: 100px;
		/*border: 1px solid grey;*/
	}
    .header-right {
        text-align: right;
        margin-top: 10px;
        font-family: Gellix, 'sans-serif';
    }
    .header-left{
        text-align: left;
        margin-top: 10px;
        font-family: Gellix, 'sans-serif';
    }
    .header-font {
        margin-left: 5px;
        color: white;
        font-size: 12px;
        /*font-weight: 600;*/
        margin-right: 12px;
    }
</style>
