<template>
    <div class="main-screen">
        <Header :link="link"/>
        <div class="menu-content">
            <div class="left-side col-md-7">
                <h4>{{ item.name }}</h4>

                <div class="col-md-10 item-display-info-icons">
                    <span class="col-md-4 float-left">
                        <i class="fa fa-fire-alt"></i>
                        <span>{{item.calories ? item.calories : '--'}} calories</span>
                    </span>
                        <span class="col-md-4 float-left">
                        <i class="fas fa-balance-scale"></i>
                        <span>{{item.portion ? item.portion : '--'}} gram</span>
                    </span>
                        <span class="col-md-4 float-left">
                        <i class="fa fa-clock"></i>
                        <span>{{ item.preparation_time}} minutes</span>
                    </span>
                </div>

                <div class="col-md-10 item-display-description">
                    <i class="fa fa-fire-alt"></i>
                    <span>{{ item.description }}</span>
                </div>

            </div>
            <div class="right-side col-md-5"></div>
        </div>
    </div>
</template>
<script>
    import Header from './Header.vue';
    export default {
        props:['link','menuid','itemid'],
        data () {
            return {
                item: []
            };
        },
        methods: {
            getItemDetails(id = 0){
                let vm = this;
                axios.get('http://localhost/menioo/public/diner/menu/'+this.menuid+'/item/'+vm.itemid,{
                    headers: {
                        'Content-Type': 'application/json'
                    }
                })
                .then(function (response) {
                    vm.item = response.data;
                })
                .catch(function (error) {
                    console.log(error);
                });
            },
        },
        created() {
            this.getItemDetails();
            //console.log(this.menus);
        },
        components: {
            Header,
        },
    };
</script>

<style scoped>
    ::-webkit-scrollbar {
        display: none;
    }
    .main-screen {
        margin-left: 159px;
        width: 77.5% !important;
        position: absolute;
        top: 53px;
        background: #eaeaea;
        /*border: 1px solid red;*/
    }

    .menu-content {
        /*padding-top: 25px !important;*/
        height: 430px;
        overflow-y: auto;
    }

    .left-side {
        float: left;
        padding: 40px;
        height: 100%;
        border: 1px solid green;
    }
    .right-side {
        float: left;
        padding: 40px;
        height: 100%;
        border: 1px solid green;
    }

    .item-display-info-icons {
        padding: 0;
        margin-top: 30px;
        margin-left: -20px;
    }

    .col-md-4 {
        max-width: 31.333% !important;
        margin-left: 1% !important;
        margin-right: 1% !important;
    }
</style>
