<template>
    <div class="main-screen">
        <Header :link="link"/>
        <!--<DetailsHeader :link="link"/>-->
        <div class="menu-content col-md-12">
            <div class="col-md-12">
                <h3> Classic's Menus </h3>
                <div class="menu-container col-md-4 float-left" v-for="menu in menus">
                    <div class="menu-image col-md-12" :style="{ backgroundImage: 'url(\'' + menu.maenu_image_path + '\')' }"></div>
                    <div class="menu-image col-md-12">
                        <div class="menu-name col-md-10 float-left"><b>{{ menu.name }}</b></div>
                        <div class="menu-arrow col-md-2 float-right">
                            <!--<router-link :to={ name: 'SubMenus', params: { menu_id: menu.id }}  exact>-->
                            <router-link :to="{name: 'sub-menus', params: {link: link, menuid: menu.id, menus: menus}}" exact>
                                <img class="arrow-link" @click="sayHello(menu.id)"  :src=" link + '/images/right-arrow-icon.svg'" alt="">
                            </router-link>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</template>
<script>
    import Header from './Header.vue';
    //import DetailsHeader from './DetailsHeader.vue';
    import SubMenus from './SubMenus.vue';
    export default {
        props:['link'],
        data () {
            return {
                menus: [],
            };
        },
        methods: {
            getMenus(){
                //console.log('asd')
                let vm = this;
                axios.get('http://localhost/menioo/public/diner/menu',{
                    headers: {
                        'Content-Type': 'application/json'
                    }
                })
                .then(function (response) {
                    vm.menus = response.data;
                })
                .catch(function (error) {
                    vm.menus = error;
                });
            },
            sayHello(id) {
                //this.$router.push('preview/sub-menus/'+id);
            },
        },
        created() {
            this.getMenus();
            //console.log(this.menus);
        },
        components: {
            Header,
            //DetailsHeader,
            SubMenus,
        },
    };
</script>

<style scoped>
    .main-screen {
        margin-left: 159px;
        width: 77.5% !important;
        position: absolute;
        top: 53px;
        background: #eaeaea;
        /*border: 1px solid red;*/
    }

    .menu-content {
        padding-top: 25px !important;
        height: 430px;
    }
    h3 {
        margin-bottom: 20px;
    }
    .menu-container {
        padding: 0px;
        margin-left: 5px;
        margin-right: 5px;
        height: 160px;
        background: #fff;
        border-radius: 14px;
    }
    .menu-image {
        height: 120px;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width: 100%;
        border-top-left-radius: 14px;
        border-top-right-radius: 14px;
    }
    .menu-name {
        text-align: left;
        padding: 0px;
    }
    .menu-arrow {
        text-align: right;
        padding: 0px;
    }
    b {
        font-family: Gellix, 'sans-serif';
    }
    .arrow-link {
        cursor: pointer;
    }
</style>
